form{
    color: white;
    width: 40%;
    margin: 5% auto;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    border-radius: 40px;
    background: radial-gradient(circle, rgb(60, 60, 60) 0%, #17151a 100%);
}

input {
    border-radius: 40px;
    border: none;
    padding: 3px 6px;
    height: 30px;
    min-width: 60px;
    text-align: center;
}


input[type="submit"] { 
    color: black;
    background-color: #1ed760; 
}

input[type="submit"]:hover {
    background-color:#1fdf64;
}

.end-button{
    display: flex;
    flex-direction: row;
    gap: 15px;
}