.side-bar {
    background-color: #000000;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.side-bar .logo-text{
    display: flex;
    flex-direction: row;
    color: white;
    gap:10px
}

.side-bar-playlist{
    display: flex;
    flex-direction: column;
    color: white;
    gap:10px
}
.side-bar-title{
    font-size: 200%;
    padding: 5px;
}

.side-bar-content, .side-bar-shortcut {
    font-size: 120%;
}