/* SIDE BAR*/

.side-bar {
    max-width: 200px;
    background-color: #000000;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.side-bar .navLink {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 16px;
    padding: 10px 0;
}

.side-bar-playlist {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px
}

.side-bar-title {
    font-size: 200%;
    padding: 5px;
}

.side-bar-content,
.side-bar-shortcut {
    font-size: 120%;
}



/* FOOTER*/

.footer {
    display: flex;
    flex-direction: row;
    height: 90px;
    background-color: #181818;
    border-top: 1px solid #282828;
    align-items: center;
    justify-content: space-around;
}

.musique-control {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.musique-button, .recap-musique {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.progress-bar-musique {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.progress-bar {
    background-color: #5e5e5e;
    height: 20px;
    border-radius: 10px;
    flex-grow: 1;
    height: 5px;
}

.progress {
    justify-content: center;
    background-color: white;
    height: 100%;
    border-radius: 10px;
}

.list-musique-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    min-width: 30%;
    max-height: 30%;
    width: fit-content;
    background-color: #181818;
    border: 1px solid #282828;
    position: fixed;
    top: 40%;
    right: 5%;
    }

svg{
        color: white;
        filter: brightness(80%);
    }

svg:hover{
    filter: brightness(100%);
    }