html,body,#root,.App,.layout{
  height: 100%;
  background-color: #17151a;
  font-family:'Circular', sans-serif;
  color: white;
}

.App {
  display: flex;
  flex-direction:column;
}

.layout{
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction:row;
}
